@media (max-width:48rem) {
    .header {
        width: 100%;
        &__items, &__call {
            display: none;
        }
        &__logo {
            width: 27.1rem;
            height: 8.8rem;
        }
        &__burger-wrap {
            width: 8.3rem;
            height: 8.3rem;
        }
    }
    .hero {
        &::after {
            height: 26.6rem;
            left: 6rem;
            bottom: -3.5rem;
        }
        &__bg {
            bottom: -39rem;
        }
        &__decor {
            width: 12rem;
            bottom: -220rem;
        }
        &__text {
            font-size: 2.8rem;
        }
        .container {
            text-align: center;
            .button-outline {
                position: absolute;
                left:1rem;
            }
        }  
    &__arrow {
        &-prev {
            left: 1rem;
        }
        &-next {
            right: 1rem;
        }
    }    
    }
    .button {
        font-size: 2.4rem;
    }
    
    .title {
        &__header {
            font-size: 4.6rem;
            margin-bottom: 3px;
        }
        &__border {
            &-mouting::after {
                width: 42.2rem;
                right: 7rem;
            }
            &-install {
                &::after {
                    width: 32.2rem;
                    left: 12rem;
                }
            
            }
            &-advantages::after {
                width: 33rem;
                left: 14rem;
            }
            &-why::after {
                width:22.5rem;
                left:17rem;
            }
            &-brands::after {
                width:31rem;
                right: 0rem;
            }
            &-video::after {
                width:42rem;
                left: 7rem;
            }
            &-price::after {
                width:20rem;
                left: 18rem;
            }
            &-information::after {
                width:29.8rem;
                left: 13rem;
            }
            &-reviews::after {
                width: 18rem;
                
            }
            &-example::after {
                width:29rem;
                right: 0rem;
            }
            &-question::after {
                width:20rem;
                right: 18rem;
            }
        }
        &__subheader {
            font-size: 3rem;
        }
        &--left {
            max-width: 100%;
            @include centered;
            padding-left: 0;
            text-align: center;
        }
        &--center {
            max-width: 100%;
            @include centered;
            padding-left: 0;
            margin-bottom: 4rem;
            .title__header--small {
                margin-bottom: 4.5rem;
            }
        }
    }
    .mouting {
        &__items {
            padding-top: 4rem;
        }
        &__item {
            min-width: 100%;
            padding: 4rem 3rem;
            &::before {
                width: 6rem;
                height: 6.5rem;
                left: -0.9rem;
                top: -1.6rem;
            }
        }
        &__title {
            font-size: 3rem;
        }
        &__description {
            font-size: 2.6rem;
        }
        &__img {
            width: 8.3rem;
            height: 8.3rem;
        }
    }
    .garant {
        &__bg {
            display: none;
        }
        .container {
            flex-direction: column;
        }
        .title--left {
            margin-bottom: 4rem;
        }
    }
    .install {
        &__items {
            padding-top: 4rem;
            gap:4rem;
        }
        &__item {
            width:100%;
        }
        &__header {
            @include font (700,3rem,133%);
        }
        &__link {
            @include font (700,2.6rem,133%);
            display: block;
        }
    }
    .advantages {
        &__items {
            gap:8rem 0;
        }
        &__item {
            width: 100%;
        }
        &__bottom {
            font-size: 3.6rem;
        }
        &__picture {
            width: 14rem;
            height: 14rem;
        }
        &__img {
            width: 12rem;
            height: 12rem;
        }
        &__top {
            span {
                font-size: 3rem;
            }
        }
    }
    .why {
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &:nth-child(1){
                margin-bottom: 7.5rem;
                .why__img {
                    margin-right: 0;
                }
                .why__icon {
                    display: none;
                }
            }
            &:nth-child(2){
               .why__img {
                margin-right: 0;
               }
                .why__icon {
                    display: none;
                }
            }
            &:nth-child(2n) {
                flex-direction: column;
            }
            
        }
        &__img {
            width: 100%;
            height: auto
        }
        &__text {
            max-width: 100%;
        }
        &__header {
            font-size: 3rem;
        }
        &__subheader {
            font-size: 2.6rem;
        }
        
    }
    .brands {
        .slider__arrow {
            display: none;
        }
    }
    .budget {
        &__bg {
            display: none;
        }
        .container {
            flex-direction: column;
        }
    }
    .video {
        padding-top: 8rem;
        padding-bottom: 6rem;
        &__wrap {
            width: 100%;
            height: 100%;
        }
        &__bg {
            bottom: -12rem;
        }
    }
    .preview {
        &__play {
            transform: translate(-50%,10%);
        }
    }
    .price {
        &__cards {
            flex-direction: column;
        }
        &__card {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 4rem;
            }
        }
        &__name {
            font-size: 3.6rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
            &::after {
                top:7rem
            }
        }
        &__mounting {
            font-size: 3.6rem;
        }
        &__img {
            width: 100%;
            height: auto;
        }
        &__title {
            font-size: 3.6rem;
        }
        &__item {
            padding-left: 5rem;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            font-size: 3.2rem;
            &::before {
                width: 3rem;
                height: 3rem;
            }
        }
        &__button {
            font-size: 3.4rem;
            padding: 3rem 4rem;
        }
    }
    .information {
        &__list {
            flex-wrap: wrap;
        }
        &__card {
            max-width: 100%;
            &:not(:last-child) {
                margin-bottom: 6rem;
            }
        }
        &__title {
            font-size: 3.6rem;
            margin-bottom: 1rem;
    
        }
        &__text {
            font-size: 2.8em;
            color: #5C5C5C; 
        }
        &__description {
            height: 35rem;
        }
        & .button-border, & .information__button {
            width: 100%;
        }
        & .information__button {
            font-size: 3.4rem;
            padding: 3rem 4rem;
            text-align: center;
        }

    }
    .reviews {
        &__slider {
            .slider__arrow-prev, .slider__arrow-next {
                display: none;
            }
        }
        &__date {
            font-size: 2.8rem;
        }
        &__avatar {
            width: 12rem;
            height: 12rem;
            margin-bottom: 4rem;
        }
        &__title {
            margin-bottom: 3rem;
            font-size: 3.6rem;
    
        }
        &__text {
           font-size: 2.8rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    .example {
        &__bg {
            top: -8.5rem;
            left: -4rem;
        }
        &__title {
            margin-bottom: 2rem;
            font-size: 2.8rem;
        }
        &__text {
            font-size: 1.8rem;
        }
        // &__arrow-prev {
        //     top:-3rem;
        // }
    }
    .services {
        &__bg {
            top: 31rem;
            bottom: 0;
        }
        &__item {
            font-size: 2.8rem;
            
        }
        &__list {
            grid-template-rows: repeat(45, 1fr);
        }
    }
    .question {
        &__description {
            font-size: 2.8rem;
            h4 {
                font-size: 4rem;
            }
            ul {
                padding-left: 3rem;
                margin-bottom: 2rem;
                li {
                    padding-left: .5rem;
                }
            }
        }
        &__bg {
            display: none;
        }
        button {
            font-size: 2.8rem;
            &::after {
                width: 2rem;
                height: 1.5rem;
                right: -3rem;
                top: 2rem;
            }
        }
        &__title {
            font-size: 2.8rem;
            max-width: 90%;
        }
        &__icon {
            width: 3rem;
            height: 3rem;
        }
        &__answer {
            font-size: 2.8rem;
            min-height: 22rem;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
    .form {
        padding-top: 4rem;
        padding-bottom: 4rem;
        .container {
            flex-direction: column;
        }
        &__input {
            width: 100%;
            height: 8rem;
            font-size: 2.8rem;
            margin-bottom: 2rem;
            border-radius: 1rem;
            &::placeholder {
                font-size: 2.6rem;
            }
        }
        &__form {
            flex-direction: column; 
            width: 100%;

        }
        &__icon {
            width: 6rem;
            height: 6rem;
            margin-top: 2rem;
        }
        &__text {
            font-size: 2.1rem;
        }
        &__desc {
            margin-bottom: 2rem;
        }
        button {
            font-size: 3rem;
            width: 100%;
            border-radius: 1rem;
            text-align: center;
            padding: 2rem 6rem;
        }
        
    }


}
@media (min-width:48rem) {
    .install {
        &__item {
            &:hover {
                &::after {
                    background:red;
                    cursor: pointer;
                }
                .install__text {
                    width: 96%;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                }
                .install__link {
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    &:after {
                        content: "";
                        width: .1rem;
                        height: 2.4rem;
                        display: block;
                        background-color: #fff;
                        position: absolute;
                        bottom: -2.8rem;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                }
                &::before {
                    content: "";
                    width: 108%;
                    height:108%;
                    background-color:transparent;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%); 
                    border: .1rem solid rgba(207, 53, 53, 0.25);
                    border-radius: 1.3rem;
                }
                
            }
        }
    }
}