.title {
    text-align: center;
    @include centered;
    flex-direction: column;
    &__header {
        position: relative;
        margin-bottom: 1.8rem;
        @include font(700,3.6rem,133%);
        &--small {
            color: #FFFFFF;
            @include font(700,2.4rem,133%);

        }
    }
    &__subheader {
        max-width: 68rem;
        @include font(400,1.6rem,150%);
        color: #5C5C5C;
        &--small {
            @include font(400,1.8rem,150%);
            color: #FFFFFF;

        }
        
    }
    &__border {
        &-mouting::after {
           @include borderBot(46.2rem);
           right: 0;    
        }
        &-install {
            &::after {
                @include borderBot(64.5rem);
            left:0;
            }    
        }
        &-advantages::after {
            @include borderBot(25.6rem);
            right: 0;
        }
        &-why::after {
            @include borderBot(67.3rem);
            right: 0;
        }
        &-brands::after {
            @include borderBot(43.6rem);
            right: 0;
        }
        &-video::after {
            @include borderBot(45.6rem);
            right: 0;
        }
        &-price::after {
            @include borderBot(28.1rem);
            right: 0;
        }
        &-information::after {
            @include borderBot(22.8rem);
            right: 0;
        }
        &-reviews::after {
            @include borderBot(13.7rem);
            left: 0;
        }
        &-example::after {
            @include borderBot(22.4rem);
            right: 0;
        }
        &-services::after {
            @include borderBot(28.7rem);
            left: 50%;
            transform: translate(-50%);
        }
        &-question::after {
            @include borderBot(38.3rem);
            right: 0;
        }
        
        
    }
    &--left {
        max-width: 77.5%;
        text-align: left;
        align-items: flex-start;
        padding-left: 28rem;
    }
    &--center {
        max-width: 77.5%;
        text-align: center;
        align-items: center;
        padding-left: 28rem;
        .title__header--small {
            margin-bottom: 4.5rem;
        }
    }

}